.navbar-default {
  font-family: 'Lato', sans-serif;
  background-color: #212833;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #ffce1f;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>li>a:hover, .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #ffce1f;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

#navbar{
  margin-top: 15px;
  margin-bottom: 15px;
}

.navbar-nav>li>a:hover {
  color: #fff;
}

a.navbar-brand:hover{
  #fff !important;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-default .navbar-text {
    color: #fff;
}

.navbar-default .navbar-toggle {
  border: solid 2px #fff;
}

.navbar-brand {
  font-size: 26px;
  line-height: 50px;
  height: 50px;
}

.navbar-brand-blue{
  color: #14e6dd;
}

.navbar-toggle:hover .icon-bar{
  background-color: #ccc !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #212833;
  border-color: #ccc;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #ffce1f;
  background-color: #212833;
}

@media(max-width: 767px){

  .navbar-brand {
    font-size: 22px;
    line-height: normal;
    height: auto;
  }

  #navbar{
    margin-top: 0;
    margin-bottom: 0;
  }
}
